        .content {
            align-items: center;
            justify-content: center;
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-family: 'Jost', sans-serif;
        }
        
        body {
            background-color: black;
            color: azure;
        }
        
        h1 {
            margin-top: -50px;
        }
        
        input {
            background-color: rgb(51, 48, 48);
            border: none;
            color: white;
            padding: 7px;
        }
        
        input:hover {
            border: 1px solid rgb(55, 219, 55);
        }
        
        #button {
            background-color: transparent;
            color: white;
            border: none;
            border: 1px solid green;
            padding: 10px;
            margin-bottom: 5px;
            border-radius: 20px;
            cursor: pointer;
        }